.phpintel
.settings
.buildpath
.project
*.sublime-project
*.sublime-workspace
parser/vendor/
parser/composer.lock
parser/tests/in/*.rem
parser/tests/out/*.rem
parser/tests/in/*.ret
parser/tests/out/*.ret